.dashboard {
  padding: 24px 0;

  &__container {
    padding: 0 3%;
    margin: 0 auto;
    max-width: 1280px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin-bottom: 24px;
  }

  &__greeting {
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    color: #111827;
    margin: 0;
  }

  &__create-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #d311aa;
    color: white;
    border: none;
    border-radius: 24px;
    padding: 12px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgb(165, 12, 132);
    }

    &-icon {
      font-size: 20px;
      font-weight: 300;
    }
  }

  &__stats {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
    margin-bottom: 24px;
  }

  @media (min-width: 572px) {
    &__stats {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: 1024px) {
    &__header {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    &__stats {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
