.test_info {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  margin-top: 40px;

  &__section {
    margin-bottom: 40px;
  }

  &__section_title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__actions {
    margin-bottom: 10px;
  }

  &__field {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }

  &__label {
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    min-width: 200px;
  }

  &__input {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 300px;

    &:focus {
      outline: none;
      border-color: #007bff;
    }
  }

  &__radio_group {
    display: flex;
    gap: 20px;
  }

  &__radio_option {
    display: flex;
    align-items: center;
  }

  &__radio {
    margin-right: 5px;
  }

  &__radio_label {
    font-size: 16px;
  }

  &__clone {
    display: flex;
    justify-content: end;
    margin: 40px 0;
    gap: 20px;

    &_button {
      cursor: pointer;
      padding: 10px 20px;
      border-radius: 10px;
      border: none;
      color: white;
      font-size: 1rem;
      background-color: #d311aa;

      &:hover {
        background-color: #b30d8f;
      }
    }
  }
}

.question-type {
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  gap: 30px;
  margin-top: 20px;

  &__question-types {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__card {
    width: 30%;
    min-width: 150px;
    max-width: 250px;
    position: relative;
    background-color: #222;
    border-radius: 8px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition:
      transform 0.2s,
      box-shadow 0.2s;
    overflow: hidden;
    height: 120px;

    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
  }

  &__icon-container {
    margin-bottom: 12px;
  }

  &__icon {
    width: 24px;
    height: 24px;
    color: white;
  }

  &__name {
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
  }
}
